:root{
    
    --linear-gradient: linear-gradient(to right, hsl(249, 99%, 64%) , hsl(278, 94%, 30%));
    --Red: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);


}

/* GLOBAL SETTINGS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Space Grotesk', sans-serif;
    
}

/* GENERAL PORPOSE */
body {
    font-size: 18px;

}


.card-container{
    display: grid;
    place-items: center;
    

    
}
.bg-card--main{
    display: grid;
    place-items: center;
    width: 100%;
    height: 30vh;
    background-image: url(/images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--White);
}

    .bg-card--content{
        position: absolute;
        width: 100%;
        height: 100%;

    }

.bg-card--front{
    display: grid;
    place-items: center;
  
    position: absolute;
   margin-top: 200px;
   margin-right: 50px;
   z-index: 1;

    
}

.bg-card--info{
    width: 85%;
    position: absolute;
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;

}
#logo{
    width: 50px;
 
}
.bg-card--info h3{
    font-size: 1.6rem;
    
    font-weight: 400;
    margin-top: 30px;
    color: var(--White);
}

.bg-card--info .card-name {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    margin-top: 20px;
}

.card-name div{
    display: flex;
    justify-content:  space-between;
    align-items: center;
}

.bg-card--back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 70px;
   



}
.bg-card--back p{
    position: absolute;
    font-weight: 400;
    margin-left: 150px;
    letter-spacing: 3px;
    font-size: 1.6rem;
}

.card{
    box-shadow: 0px 0px 10px rgba(0,0,0,20%);
    border-radius: 10px;
    width: 280px;
}

.card-form{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}
.card-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;

}
.card-details--items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
}





.card-details--title{

    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--Very-dark-violet);
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-align: left;
}

.card-input{
    width: 100%;

    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--Light-grayish-violet);
    padding: 10px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 2rem;
    outline: none;
   
  
}
/* error in border  */
.error-border{
    width: 100%;

    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--Red);
    padding: 10px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 2rem;
}
#error-number, #error-name, #error-cvc, #error-exp{
    color: var(--Red);
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: -20px;
    margin-bottom: 20px;
}
.expiry-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.cvc{
    width: 100%;
}

.card-input::placeholder{
    color: var(--Light-grayish-violet);
    font-size: 1.7rem;
    font-weight: 400;
    padding-left: 10px;
}

.card-btn{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid var(--Very-dark-violet);
    padding: 10px;
    margin-bottom: 30px;
    font-size: 1.7rem;
    color: var(--White);
    background-color: var(--Very-dark-violet);
 
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
}
.success-container{
    display: none;
    place-items: center;

    width: 100%;
    height: 100%;
    margin-top: 50px;
    

}
.card-details--success{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    width: 350px;
    height: 100%;
}

.card-details--success h2{
    color: var(--Very-dark-violet);
    letter-spacing: 3px;
    font-weight: 500;
}

.card-details--success p{
    color: var(--Dark-grayish-violet);
    font-size: 1.8rem;
    margin-top: -20px;
}

.attribution{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-dark-violet);
    color: var(--White);
    font-size: 1.2rem;
    width: 100%;
    height: 50px;
    text-align: center;
    bottom: 0;
    position: absolute;
}
.attribution a{
    color: var(--White);
    margin: 0 10px;
}
/* DESKTOP  and LAPTOP */

@media screen and (min-width: 1024px) {
    
    .card-container{
        display: grid;
        grid-template-columns: 1fr 1fr;

        justify-content: space-between;
       
    }
    .bg-card--main{
        background-image: url(/images/bg-main-desktop.png);
        height: 100vh;
       width: 35vw;
        margin-right: auto;
       
    }

    .bg-card--front{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: -250px;
        margin-left: 25vw;

    }
    .bg-card--info{
        font-size: 1.3rem;
    
    }
    #logo{
        width: 70px;
     
    }
    .bg-card--info h3{
        font-size:2.2rem;
        margin-top: 40px;
    }
    
    .bg-card--info .card-name{
        margin-top: 27px;
    }
    
    
    .bg-card--back{
        display: flex;
        margin-top: 250px;
        margin-left: 32vw;
    
    }
    /* bg-card--back rotation  */
  
    .bg-card--back p{
        margin-left: 220px;

    }
    
    .card{
        width: 380px;
        height: 100%;
    }
    .card-form{
       display: grid;
       margin-top: 0%;
            width: 70vw;
    }
    .card-details{
        width: 450px;
    
    }
    .card-details--items{
        width: 450px;
    }
    .success-container{
        display: none;
        place-items: center;
        width: 70vw;
        margin-top: 0;
    }

    .attribution{
        position: absolute;
        bottom: 0;

    }

    
}


